<head>
  <meta charset="utf-8">
  <script>
    function showDiv(one,second)
    {
      document.getElementById(one).style.display = 'block';
      document.getElementById(second).style.display = 'none';
      
    }
    
  </script>
<script>
function validateForm(){
    var radios = document.forms.sizes.elements.size;
    for(var i=0; i<radios.length; i++){
        if(radios[i].checked) return true;
    }
    alert('Please select a size!');
    return false;
}
</script>

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1><%=product_info[0]['product_name']%></h1>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row">
        <!-- *** LEFT COLUMN ***-->
        <div class="col-lg-12">
            <p class="lead">
                <%=product_info[0]['product_description'] %>
            </p>
            <p class="goToDescription"><a href="#details" class="scroll-to text-uppercase">Scroll to order end date and delivery information</a>
            </p>
            <div class="row" id="productMain">
                <div class="col-sm-6">
                    <div id="mainImage">
                        <img src="<%=product_info[0]['product_url']%>" alt="" class="img-responsive">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="box">
                       <form  ONSUBMIT="return validateForm();" name="sizes" action="/add_to_cart" method="post">
                <input type="hidden" name="product_url" value="<%=product_info[0]['product_url']%>">

                            <div class="sizes">
                                <h3>Available sizes</h3>
                                <hr></hr>
                                <h4>Youth Sizes</h4>
                                <%size_price.each do |item| %>
                                    <%if item['size'] == "youth small" %>
                                       <label><a href="#" onClick="showDiv('youth','adult')">S</a>
                                       <input type="radio" id="<%=item['size']%>" name="size" value="youth small" class="size-input" data-price="<%=item['price']%>">
</label>
                                    <%elsif item['size'] == "youth medium" %>
                                       <label for="<%=item['size']%>" >
     <a href="#" onClick="showDiv('youth','adult')">M</a>
      <input type="radio" id="<%=item['size']%>" name="size" value="youth medium" class="size-input" data-price="<%=item['price']%>" onClick="showDiv('youth','adult')">
      </label>
                                    <%elsif item['size'] == "youth large" %>                       
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('youth','adult')">L</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="youth large" class="size-input" data-price="<%=item['price']%>" onClick="showDiv('youth','adult')">
                                        </label>
                                    <%elsif item['size'] == "youth xl" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('youth','adult')">XL</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="youth xl" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%else%>
                                    <%end%>
                                <%end%>
                                <h4>Adult Sizes</h4>
                                <%size_price.each do |item| %>
                                    <%if item['size'] == "adult small" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">S</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="adult small" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "adult medium" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">M</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="adult medium" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "adult large" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">L</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="adult large" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "adult xl" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">XL</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="adult xl" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "adult xxl" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">2X</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="adult xxl" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "adult xxxl" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">3X</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="adult xxxl" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "adult xxxxl" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">4X</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="adult xxxxl" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "adult xxxxxl " %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">5X</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="adult xxxxxl" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%else%>
                                    <%end%>
                                <%end%>
                                <h4>Ladies</h4>
                                <%size_price.each do |item| %>
                                    <%if item['size'] == "ladies small" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">S</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="ladies small" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "ladies medium" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')" >M</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="ladies medium" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "ladies large" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">L</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="ladies large" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "ladies xl" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">XL</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="ladies xl" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%elsif item['size'] == "ladies xxl" %>
                                        <label for="<%=item['size']%>">
                                            <a href="#" onClick="showDiv('adult','youth')">2X</a>
                                            <input type="radio" id="<%=item['size']%>" name="size" value="ladies xxl" class="size-input" data-price="<%=item['price']%>">
                                        </label>
                                    <%else%>
                                    <%end%>
                                <%end%>
                            </div>
                            <div class="row quantity">
                                <div class="ib">
                                    <p class="float_left">Price: <input id="price" name="price" value="<%=size_price[0]['price'] %>" readonly></p>
                                </div>
                                 <div class="row">
                                <div class="float_right">
                                    <div class="input-group1 spinner">
    <input type="text" name="quantity" class="form-control" value="1" min="0" max="200">
    <div class="input-group-btn-vertical">
      <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
      <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
    </div>
  </div>
  <p class="quantity1">Quantity</p>
  </div>
                                </div>
                            </div>
                            <div class="row personalize">
                                <%product_info.each do |item| %>
                                    <%if item['personalization'] == "yes" %>
                                        <div class="">
                                            <p class="float_left">
                                                <label for="personalize">
                                                    <h3 class="personalize_headline">Personalization
                                                    <input type="checkbox" name="personalize" name="personalize" value="personalize" class="size-input"></h3>
                                                    <h4>*Items are printed <mark>EXACTLY</mark> how you enter the text!(Including capital lettering & punctuation!)*</h4>
                                                <h5>*Adult:14 characters per line*<br>
                                                    *Youth:12 characters per line*</h5> 
                                                   
                                                </label>
                                            </p>
                                            </div>
                                            <div class="float_right">
                                            
                        <p id="youth" style="display:none" >
                        Line 1: <input id="line1" name="line1" placeholder="Your custom message" type="text" maxlength="12" >
                        <br>
                        Line 2: <input id="line2"  name="line2" placeholder="Your custom message" type="text" maxlength="12">
                        <br>
                        Line 3: <input id="line3" name="line3" placeholder="Your custom message" type="text" maxlength="12">
                        <br>
                        Line 4: <input id="line4"  name="line4" placeholder="Your custom message" type="text" maxlength="12">
                        </p>
                        
                        <p id="adult" style="display:none">
                        Line 1: <input id="line1" name="line1" placeholder="Your custom message" type="text" maxlength="14" >
                        <br>
                        Line 2: <input id="line2"  name="line2" placeholder="Your custom message" type="text" maxlength="14">
                        <br>
                        Line 3: <input id="line3" name="line3" placeholder="Your custom message" type="text" maxlength="14">
                        <br>
                        Line 4: <input id="line4"  name="line4" placeholder="Your custom message" type="text" maxlength="14">
                        </p>
                                            </div>
                                    <%end%>
                                <%end%>
                            </div>
                            <p class="text-center">
                                <a href="/shop_cart">
                                    <button type="submit" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i> Add to cart</button>
                                </a>
                            </p>
                             <input type="hidden" name="productName" value="<%=product_info[0]['product_name']%>">
                             <input type="hidden" name="productDescription" value="<%=product_info[0]['product_description']%>">
                             <input type="hidden" name="productURL" value="<%=product_info[0]['product_url']%>">
                    </div>
                </div>
                           </form>
                    </div>
                </div>
            </div>
            <div class="" id="details">
                <h4>Order end date and delivery info:</h4>
                <p><%=product_info[0]['order_information'] %></p>
            </div>
            <div class="box social" id="product-social">
                 <h4>Show it to your friends</h4>
                        
                           
    

    <!-- Your share button code -->
    
                            <div class="fb-share-button fbshare" data-href="http://Shopping Cart123.herokuapp.com/product_details" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2FShopping Cart123.herokuapp.com%2Fproduct_details&amp;src=sdkpreparse">Share</a></div>

                            <a href="https://twitter.com/share?url=URLENCODED_URL&&text=Look what I got from @Locker_Room_WBG"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" title="Share on Twitter" class="" ><i class="fa fa-twitter "></i></a>
                
                            <a href="mailto:?subject= Look what I'm getting from Shopping Cart &body= If you like this you can get one too.Hurry before the sale is over." class="email" ><i class="fa fa-envelope "></i></a>
                        
            </div>
        </div>

