<script>
window.onload = function(){
  document.forms['paypal'].submit()

}
</script>


<form name="paypal" target="_self" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <% if url.include?("img/school_logos/jm") %>
  <input type="hidden" name="shopping_url" value="http://Shopping Cart123.herokuapp.com/jefferson_morgan_items">
  <% else %>
    <input type="hidden" name="shopping_url" value="http://Shopping Cart123.herokuapp.com">
<%end%>
  <!-- Identify your business so that you can collect the payments. -->
  <input type="hidden" name="business" value="teecee@minedminds.org">
 
  <!-- Specify a PayPal Shopping Cart Add to Cart button. -->
  <input type="hidden" name="cmd" value="_cart">
  <input type="hidden" name="add" value="1">
  <input type="hidden" name="quantity" value="<%=quantity%>">

  <!-- Specify details about the item that buyers will purchase. -->
  <input type="hidden" name="item_name" value="<%=size%> <%=name%> <%=line1%> <%=line2%> <%=line3%> <%=line4%>">
  <input type="hidden" name="amount" value="<%=price%>">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="handling_cart" value="10.00">
  <input type="hidden" name="cpp_headerborder_color" value="38a7bb" >
  <input type="hidden" name="cpp_cart_border_color" value="38a7bb">
</form>



<h4 class="center" > Please Wait while we redirect you to paypal's website</h4>
